@import "./vars";

*,
*::after,
*::before {
  font-family: 'Manrope', sans-serif;
  font-weight: $f-r;
  color: $black;
  line-height: 100%;
}

html {
  background-color: $white;
  // background-color: rgb(56, 56, 56);
}

.container {
  max-width: 171.8rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.default-btn {
  padding: 2rem 5.5rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: $f-m;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: fit-content;
  min-width: 29.8rem;
  background-color: $white;
  border: none;
  color: $black;

  & svg {
    width: 3.2rem;
    height: 1.6rem;
    object-fit: contain;
    object-position: center center;
    fill: $blue;
    transition: .3s;
  }

  &:hover {
    svg {
      transform: translate(1.5rem, 0);
    }
  }

  &_dark {
    color: $white;
    background-color: $blue;

    svg {
      fill: $white;
    }
  }

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
    line-height: 1.9rem;

    & svg {
      width: 3rem;
      height: 1.4rem;
    }
  }
}

// <a href="#" class="default-btn">
//   Перейти в каталог
//   <svg>
//     <use href="#btn-arrow-icon"></use>
//   </svg>
// </a>

.page-head {
  padding: 3rem 0rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;

  @include breakpoint($xl-bp) {
    padding: 2.8rem 0rem 3rem;
    gap: 3rem;
  }

  &.page-head_white &{
    &-links {
      &__link {
        &:last-child {
          color: $white;
          &::before {
            background-color: $white;
          }
        }
      }
    }

    &__title {
      color: $white;
    }
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 0.7rem;

    &__link {
      font-size: 1.6rem;
      line-height: 2.2rem;
      transition: .3s;
      color: $dark-grey;

      &:last-child {
        color: $black;
        &::before {
          background-color: $black;
        }
      }

      &:hover {
        opacity: 0.5;
      }

      @include breakpoint($xl-bp) {
        font-size: 1.4rem;
        line-height: 1.9rem;
      }
    }

    & a+a {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      &::before {
        content: "";
        display: block;
        height: 1.6rem;
        width: 0.2rem;
        background-color: $dark-grey;
      }
    }
  }

  &__title {
    font-size: 4.8rem;
    line-height: 6.6rem;
    font-weight: $f-m;

    @include breakpoint($xl-bp) {
      font-size: 3.4rem;
      line-height: 4.6rem;
    }
  }
}