$cos_bp: 1330px;
$xl-bp: 1024px;

$lg-bp: 920px;
$sm-bp: 500px;
$mb-bp: 850px;
$sr-bp: 700px;

$mm-bp: 1440px;

// help bp
$rm-bp: 1792px;
$pm-bp: 1545px;
$hb-bp: 1310px;
$bm-bp: 1300px;
$jb-bp: 850px;
$lb-bp: 650px;
$xs-bp: 375px;

// colors
$white: #FFFFFF;
$blue: #0D35BC;
$black: #010F26;

// font-weight
$f-b: 700;
$f-s: 600;
$f-m: 500;
$f-r: 400;
