@import "vendor/reset";

@import "./vars";
@import "./mixins";
@import "./fonts";
@import "./general";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1330 * 10);
  }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  @include breakpoint($jb-bp) {
    font-size: calc(100vw / 850 * 10);
  }

  @include breakpoint($lb-bp) {
    font-size: calc(100vw / 650 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 500 * 10);
  }

  @include breakpoint($xs-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

@import "./blocks/header";

@import "./blocks/footer";

@import "./blocks/menu";

@import "./blocks/modal";

@import "./blocks/default-form";

@import "./blocks/advantages";

@import "./blocks/reviews";

@import "./blocks/main";

@import "./blocks/about";
