@import "../vars";

.default-form {
  position: relative;
  height: 100%;
  width: 68.2rem;
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  background-color: $grey;

  @include breakpoint($cos-bp) {
    padding: 4rem 0rem 7.5rem;
  }

  @include breakpoint($xl-bp) {
    gap: 1rem;
  }

  @include breakpoint($lb-bp) {
    width: 100%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: $grey;

    @include breakpoint($cos-bp) {
      display: none;
    }
  }

  &-title {
    font-size: 4rem;
    font-weight: $f-m;
    line-height: 5.5rem;
    margin-bottom: 1rem;

    @include breakpoint($xl-bp) {
      font-size: 2.6rem;
      line-height: 3.6rem;
    }
  }

  &__input {
    background-color: $white;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: left;
    border: 0.2rem solid $white;
    padding: 1.8rem;
    width: 100%;
    outline: none;
    transition: .3s;

    &::placeholder {
      color: $dark-grey;
    }

    &:focus {
      border-color: $blue;
    }

    @include breakpoint($xl-bp) {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }

  &__info {
    font-size: 1.4rem;
    line-height: 1.9rem;

    @include breakpoint($xl-bp) {
      margin-top: 1rem;
    }
  }

  &__btn {
    margin-left: auto;

    @include breakpoint($sm-bp) {
      width: 100%;
    }
  }

  &-wrapper {
    position: relative;
  }

  &-info {
    background-color: $blue;

    &-inner {
      padding-top: 16rem;
      padding-bottom: 16rem;
      padding-left: 0;

      @include breakpoint($cos-bp) {
        padding-top: 7.5rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
      }
    }

    &-title {
      max-width: 82.4rem;
      font-size: 6.4rem;
      font-weight: $f-s;
      line-height: 8.7rem;
      color: $white;
      margin-bottom: 3rem;

      @include breakpoint($cos-bp) {
        max-width: 100%;
      }

      @include breakpoint($xl-bp) {
        font-size: 3.4rem;
        line-height: 4.6rem;
      }
    }

    &-text {
      font-size: 2rem;
      line-height: 2.7rem;
      color: $white;
      max-width: 60rem;
      margin-top: 2rem;

      @include breakpoint($cos-bp) {
        max-width: 100%;
      }

      @include breakpoint($xl-bp) {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }
  }

  &-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include breakpoint($cos-bp) {
      position: static;
    }
  }

  &-inner {
    height: 100%;
    display: flex;
    justify-content: flex-end;

    @include breakpoint($cos-bp) {
      justify-content: center;
      background-color: $grey;
    }
  }

  &-select {
    width: 100%;

    &__btn {

      * {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }

      &._placeholder {
        color: $dark-grey;
      }
    }

    &-variants {
      background-color: #fff;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

      &__btn {
        width: 100%;
        background-color: #fff;
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-align: left;
        border: 0.2rem solid $white;
        padding: 1.8rem;

        &:hover {
          background-color: #ebebeb;
        }
      }
    }
  }
}