.favourites {

  &-list {
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem;
    gap: 3rem;
    margin-bottom: 16rem;

    @include breakpoint($cos-bp) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint($xl-bp) {
      gap: 2rem;
      row-gap: 2rem;
      margin-bottom: 7.5rem;
    }

    @include breakpoint($jb-bp) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($sm-bp) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}