@import "../vars";

.header {
  &-container {
    max-width: 172rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 6rem;

    @include breakpoint($xl-bp) {
      padding: 3rem 2rem 0rem 2rem;
    }

    @include breakpoint($jb-bp) {
      justify-content: space-between;
    }
  }

  &-logo {
    width: 9.5rem;
    height: 11.4rem;
    transition: 0.3s;

    @include breakpoint($xl-bp) {
      width: 6.1rem;
      height: 7.32rem;
    }

    &:hover {
      opacity: 0.5;
    }

    svg {
      object-fit: contain;
      object-position: center center;
      width: 100%;
      height: 100%;
      fill: $white;
    }

    &._big {
      transform-origin: right top;
      transform: scale(1.5);

      @include breakpoint($cos-bp) {
        transform: scale(1);
      }
    }
  }

  &-menu {
    &-btn {
      width: 3.2rem;
      height: 3.2rem;
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;

      @include breakpoint($xl-bp) {
        width: 3rem;
        height: 3rem;
      }

      &:hover {
        svg {
          stroke: $white;
        }
      }

      svg {
        object-fit: contain;
        height: 100%;
        width: 100%;
        object-position: center center;
        stroke: $blue;
        transition: 0.3s;
      }
    }
  }

  &-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($jb-bp) {
      flex: none;
      flex-direction: row-reverse;
      gap: 1rem;
    }

    &-inner {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    &-links {
      display: flex;
      align-items: center;
      gap: 4rem;

      @include breakpoint($jb-bp) {
        display: none;
      }

      &__link {
        color: $white;
        font-size: 2.4rem;
        font-weight: $f-s;
        line-height: 3.3rem;
        transition: 0.3s;
        display: flex;
        align-items: center;
        gap: 0.3em;

        @include breakpoint($xl-bp) {
          font-size: 1.8rem;
        }

        &:hover {
          opacity: 0.5;
        }

        svg {
          width: 1.2em;
          height: 1.2em;
          stroke: $white;
        }
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      gap: 2rem;

      @include breakpoint($jb-bp) {
        gap: 1rem;
      }

      &__btn {
        width: 3.4rem;
        height: 3.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        transition: 0.3s;
        position: relative;

        &:hover {
          opacity: 0.5;
        }

        svg {
          fill: $white;
          stroke: $white;
          object-fit: contain;
          object-position: center center;
          width: 2.8rem;
          height: 2.8rem;
          transition: 0.3s;
        }

        &_like {
          svg {
            fill: transparent;
          }

          &:hover {
            opacity: 1;

            svg {
              fill: $white;
            }
          }
        }
      }

      &__label {
        position: absolute;
        top: -0.6rem;
        right: -0.7rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $blue;
        color: $white;
        font-size: 1.4rem;
        line-height: 1.9rem;
        font-weight: $f-b;
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }
    }

    &-search {
      position: relative;

      @include breakpoint($sm-bp) {
        position: static;
      }

      &-input {
        position: absolute;
        z-index: 2;
        right: 0;
        top: -1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: #fff;
        border: 0.1rem solid #e2e2e2;
        padding: 0 0 0 1.9rem;
        width: 0;
        pointer-events: none;
        opacity: 0;
        transition: 0.3s;
        overflow: hidden;

        @include breakpoint($sm-bp) {
          top: 4rem;
          left: 2rem;
          width: calc(100% - 4rem);
          padding-left: 1rem;
        }

        &._active {
          width: 62.8rem;
          opacity: 1;
          pointer-events: all;

          @include breakpoint($jb-bp) {
            width: 45rem;
          }

          @include breakpoint($sm-bp) {
            width: calc(100% - 4rem);
          }
        }

        &__btn {
          border: none;
          background-color: transparent;
          padding: 0;
          width: 2.4rem;
          height: 2.4rem;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            object-fit: contain;
            width: 90%;
            height: 90%;
            fill: #9398a0;
          }
        }

        &__input {
          flex: 1;
          padding: 1.5rem 0rem 1.5rem 0.5rem;
          border: none;
          font-size: 1.6rem;
          line-height: 2.2rem;
          outline: none;

          &::placeholder {
            color: #9398a0;
          }
        }
      }
    }
  }
}

.header_white {
  background-color: $white;
  border-bottom: 0.1rem solid #e2e2e2;

  @include breakpoint($xl-bp) {
    padding-bottom: 1rem;
  }

  .header {
    &-logo {
      svg {
        fill: $black;
      }
    }

    &-menu {
      &-btn {
        &:hover {
          svg {
            stroke: $black;
          }
        }

        svg {
          stroke: $blue;
        }
      }
    }

    &-nav {
      &-links {
        &__link {
          color: $black;

          svg {
            stroke: $black;
          }
        }
      }

      &-btns {
        &__btn {
          svg {
            fill: $black;
            stroke: $black;
          }

          &_like {
            svg {
              fill: transparent;
            }

            &:hover {
              svg {
                fill: $black;
              }
            }
          }
        }
      }
    }
  }
}
