.main {
  position: relative;

  &-header {
    &-container {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
    }
  }

  &-video {
    &-container {
      position: relative;
      height: 96rem;

      @include breakpoint($xl-bp) {
        height: 81.2rem;
      }
    }

    &-bg {
      width: 100%;
      height: 100%;
      filter: brightness(40%);

      &__video {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }

    &-inner {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 23.8rem;

      @include breakpoint($xl-bp) {
        padding-top: 0;
      }
    }

    &__link {
      @include breakpoint($xs-bp) {
        width: 100%;
      }
    }

    &-info {
      padding-left: 19.5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      @include breakpoint($cos-bp) {
        padding-left: 6.5rem;
      }

      @include breakpoint($xl-bp) {
        height: 100%;
        justify-content: center;
      }

      @include breakpoint($jb-bp) {
        padding-left: 2rem;
      }
    }

    &__title {
      font-size: 6.4rem;
      line-height: 8.7rem;
      font-weight: $f-s;
      color: $white;
      max-width: 85.6rem;

      @include breakpoint($xl-bp) {
        font-size: 3.4rem;
        line-height: 4.6rem;
      }
    }

    &__text {
      font-size: 2rem;
      line-height: 2.7rem;
      font-weight: $f-r;
      color: $white;
      max-width: 60rem;

      @include breakpoint($xl-bp) {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }
  }

  &-catalog {
    padding-top: 16rem;
    margin-bottom: 19rem;

    @include breakpoint($xl-bp) {
      padding-top: 8.5rem;
      margin-bottom: 16rem;
    }

    &-title {
      font-size: 6.4rem;
      font-weight: $f-s;
      line-height: 8.7rem;
      margin-bottom: 6.3rem;

      @include breakpoint($xl-bp) {
        font-size: 3.4rem;
        line-height: 4.6rem;
        margin-bottom: 3rem;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 6.2rem;

      @include breakpoint($xl-bp) {
        gap: 4rem;
      }

      &-item {
        padding: 0 17.75rem;
        display: flex;
        justify-content: space-between;
        gap: 8rem;
        border-left: 0.2rem solid $grey;
        border-right: 0.2rem solid $grey;

        @include breakpoint($cos-bp) {
          padding: 0;
          border: none;
        }

        @include breakpoint($jb-bp) {
          gap: 4rem;
        }

        @include breakpoint($lb-bp) {
          flex-direction: column;
          gap: 2.1rem;
        }

        &-inner {
          display: flex;
          flex-direction: column;
          flex: 1;
        }

        &-img {
          width: 78.3rem;
          height: 52.2rem;
          overflow: hidden;

          &:hover &__img {
            transform: scale(1.05);
          }

          @include breakpoint($xl-bp) {
            width: 50%;
            height: 44rem;
          }

          @include breakpoint($lb-bp) {
            width: 100%;
            height: 24.2rem;
          }

          &__img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
            transition: .3s;
          }
        }

        &__title {
          font-size: 4.8rem;
          font-weight: $f-m;
          line-height: 6.6rem;
          margin-bottom: 4rem;

          @include breakpoint($xl-bp) {
            font-size: 2.6rem;
            line-height: 3.6rem;
          }

          @include breakpoint($lb-bp) {
            margin-bottom: 1rem;
          }
        }

        &__links {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          @include breakpoint($lb-bp) {
            gap: 1rem;
          }
        }

        &__link {
          font-size: 2rem;
          line-height: 2.7rem;
          font-weight: $f-r;
          transition: .3s;

          &:hover {
            opacity: 0.8;
          }

          @include breakpoint($xl-bp) {
            font-size: 1.6rem;
            line-height: 2.2rem;
          }

          &_icon {
            margin-top: auto;
            margin-left: auto;

            @include breakpoint($lb-bp) {
              margin-top: 2.2rem;
            }

            svg {
              width: 8.7rem;
              height: 1.6rem;
              fill: $blue;
              transition: .3s;

              @include breakpoint($xl-bp) {
                width: 8.4rem;
              }
            }

            &:hover {
              svg {
                transform: translate(1rem, 0);
              }
            }
          }
        }
      }
    }
  }

  &-partners {
    margin-bottom: 16rem;
    overflow: hidden;

    &-title {
      font-size: 6.4rem;
      line-height: 8.7rem;
      font-weight: $f-s;
      margin-bottom: 6rem;

      @include breakpoint($xl-bp) {
        font-size: 3.4rem;
        line-height: 4.6rem;
        margin-bottom: 3rem;
      }
    }

    &-list {
      display: flex;
      gap: 3rem;

      @include breakpoint($sm-bp) {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
      }

      @include breakpoint($xs-bp) {
        grid-template-columns: repeat(2, 1fr);
      }

      &-container {
        display: flex;
        align-items: center;
        overflow: hidden;
      }

      &-item {
        height: 25.5rem;
        width: 25.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint($xl-bp) {
          width: 15.7rem;
          height: 15.7rem;
        }

        &__img {
          object-fit: contain;
          width: 84.31%;
          height: 84.31%;
        }
      }
    }
  }

  &-reviews {
    margin-bottom: 16rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8.5rem;
    }
  }

  &-contacts {
    margin-top: 16rem;

    @include breakpoint($xl-bp) {
      margin-top: 7.6rem;
    }

    &-title {
      font-size: 6.4rem;
      font-weight: $f-s;
      line-height: 8.7rem;
      margin-bottom: 6rem;

      @include breakpoint($xl-bp) {
        font-size: 34px;
        line-height: 46px;
        margin-bottom: 3rem;
      }
    }

    &-map {
      position: relative;
      display: flex;
      height: 81.3rem;
      background-color: $grey;

      @include breakpoint($xl-bp) {
        height: 68rem;
      }

      &__frame {
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      position: absolute;
      padding: 6rem;
      background-color: $white;
      right: 13.645%;
      top: 18.3rem;

      @include breakpoint($cos-bp) {
        right: 2rem;
        top: 2rem;
      }

      @include breakpoint($xl-bp) {
        padding: 2rem;
      }

      @include breakpoint($sm-bp) {
        width: calc(100% - 2rem);
        left: 1rem;
        top: 1rem;
      }

      &-btns {
        display: flex;
        align-items: center;
        gap: 4rem;
        margin-bottom: 4rem;

        @include breakpoint($xl-bp) {
          margin-bottom: 3rem;
        }

        &__btn {
          margin: 0;
          padding: 0;
          background-color: transparent;
          border: none;
          font-size: 4rem;
          line-height: 5.5rem;
          color: $black;
          font-weight: $f-m;
          opacity: 0.5;
          transition: .3s;

          &._active {
            opacity: 1;
            pointer-events: none;
          }

          &:hover {
            opacity: 0.8;
          }

          @include breakpoint($xl-bp) {
            font-size: 2.6rem;
            line-height: 3.6rem;
          }
        }
      }

      &-swiper {
        width: 26.8rem;

        @include breakpoint($sm-bp) {
          width: 100%;
        }

        &-slide {
          display: flex;
          flex-direction: column;
          gap: 3rem;

          @include breakpoint($xl-bp) {
            gap: 2rem;
          }

          &__title {
            font-size: 2rem;
            line-height: 2.7rem;
            margin-bottom: 1.5rem;

            @include breakpoint($xl-bp) {
              font-size: 1.6rem;
              line-height: 2.2rem;
              margin-bottom: 0.5rem;
            }
          }

          &__text {
            font-size: 1.6rem;
            line-height: 2.2rem;

            @include breakpoint($xl-bp) {
              font-size: 1.4rem;
              line-height: 1.9rem;
            }
          }

          &__link {
            transition: .3s;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}