<section class="about">
  <div class="container">

    <div class="page-head">
      <div class="page-head-links">
        <a href="#" class="page-head-links__link">Главная </a>
        <a href="#" class="page-head-links__link">О компании </a>
      </div>

      <h2 class="page-head__title">
        О компании
      </h2>
    </div>

    <div class="about-head">
      <div class="about-head-info">
        <h3 class="about-head__title">
          Minecraft
        </h3>

        <p class="about-head__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
          bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
          venenatis ante, et accumsan justo ex ut magna
          <br><br>
          orem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
          bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
          venenatis ante, et accumsan justo ex ut magna
        </p>
      </div>

      <div class="about-head-img">
        <img src="assets/images/about.jpg" alt="about" class="about-head-img__img">
      </div>
    </div>

  </div>

  {{> _advantages }}

  <div class="container">
    <div class="about-partners">
      <h4 class="about-partners__title">Партнеры</h4>

      <div class="about-partners-container">
        <ul class="about-partners-list">
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-aerzen.png" alt="aerzen">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-ariacom.png" alt="ariacom">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-aerocomp.png" alt="aerocomp">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-aerzen.png" alt="aerzen">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-ariacom.png" alt="ariacom">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-aerocomp.png" alt="aerocomp">
          </li>
        </ul>
      </div>

      <div class="about-partners-container">
        <ul class="about-partners-list">
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-ariacom.png" alt="ariacom">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-aerocomp.png" alt="aerocomp">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-aerzen.png" alt="aerzen">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-ariacom.png" alt="ariacom">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-aerocomp.png" alt="aerocomp">
          </li>
          <li class="about-partners-list-item">
            <img class="about-partners-list-item__img" src="assets/images/partner-aerzen.png" alt="aerzen">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="about-reviews">
    <div class="reviews">
      <div class="container">

        <div class="reviews-head">
          <h3 class="reviews-title">Благодарность клиентов</h3>

          <div class="reviews-btns">
            <button type="button" class="reviews-btns__btn reviews-btns__btn_prev">
              <svg>
                <use href="#btn-arrow-icon"></use>
              </svg>
            </button>

            <button type="button" class="reviews-btns__btn reviews-btns__btn_next">
              <svg>
                <use href="#btn-arrow-icon"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="swiper reviews-list-container">
          <ul class="swiper-wrapper reviews-list">
            <li class="swiper-slide reviews-list-item">
              <a href="assets/images/reviews-1.jpg" class="reviews-list-item__link" data-fancybox>
                <img src="assets/images/reviews-1.jpg" alt="aerzen" class="reviews-list-item__img">
              </a>
            </li>

            <li class="swiper-slide reviews-list-item">
              <a href="assets/images/reviews-2.jpg" class="reviews-list-item__link" data-fancybox>
                <img src="assets/images/reviews-2.jpg" alt="aerzen" class="reviews-list-item__img">
              </a>
            </li>

            <li class="swiper-slide reviews-list-item">
              <a href="assets/images/reviews-1.jpg" class="reviews-list-item__link" data-fancybox>
                <img src="assets/images/reviews-1.jpg" alt="aerzen" class="reviews-list-item__img">
              </a>
            </li>

            <li class="swiper-slide reviews-list-item">
              <a href="assets/images/reviews-2.jpg" class="reviews-list-item__link" data-fancybox>
                <img src="assets/images/reviews-2.jpg" alt="aerzen" class="reviews-list-item__img">
              </a>
            </li>

            <li class="swiper-slide reviews-list-item">
              <a href="assets/images/reviews-1.jpg" class="reviews-list-item__link" data-fancybox>
                <img src="assets/images/reviews-1.jpg" alt="aerzen" class="reviews-list-item__img">
              </a>
            </li>

            <li class="swiper-slide reviews-list-item">
              <a href="assets/images/reviews-2.jpg" class="reviews-list-item__link" data-fancybox>
                <img src="assets/images/reviews-2.jpg" alt="aerzen" class="reviews-list-item__img">
              </a>
            </li>

            <li class="swiper-slide reviews-list-item">
              <a href="assets/images/reviews-1.jpg" class="reviews-list-item__link" data-fancybox>
                <img src="assets/images/reviews-1.jpg" alt="aerzen" class="reviews-list-item__img">
              </a>
            </li>

            <li class="swiper-slide reviews-list-item">
              <a href="assets/images/reviews-2.jpg" class="reviews-list-item__link" data-fancybox>
                <img src="assets/images/reviews-2.jpg" alt="aerzen" class="reviews-list-item__img">
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="about-form">
    {{> _default-form }}
  </div>

</section>