<section class="advantages">
  <div class="container advantages-container">

    <h3 class="advantages-title">Почему стоит работать с нами?</h3>

    <ul class="advantages-list">
      <li class="advantages-list-item">
        <span class="advantages-list-item__value">
          200+
        </span>
        <span class="advantages-list-item__description">
          успешно реализованных проектов
        </span>
      </li>

      <li class="advantages-list-item">
        <span class="advantages-list-item__value">
          10
        </span>
        <span class="advantages-list-item__description">
          лет опыта, за которые заработали отличную репутацию и доверие клиентов
        </span>
      </li>

      <li class="advantages-list-item">
        <span class="advantages-list-item__value">
          1000+
        </span>
        <span class="advantages-list-item__description">
          единиц оборудования для любой технической поддержки предприятий
        </span>
      </li>

      <li class="advantages-list-item">
        <span class="advantages-list-item__value">
          30+
        </span>
        <span class="advantages-list-item__description">
          компаний, специализирующихся на отдельных категориях товаров и услуг
        </span>
      </li>
    </ul>

  </div>
</section>