<section class="catalog-main">
  <div class="container">

    <div class="page-head">
      <div class="page-head-links">
        <a href="#" class="page-head-links__link">Главная </a>
        <a href="#" class="page-head-links__link">Каталог</a>
      </div>

      <h2 class="page-head__title">
        Каталог
      </h2>
    </div>

    <div class="catalog-main-inner">

      {{> _catalog-nav }}

      <ul class="catalog-main-list">
        <li class="catalog-main-list-item">
          <div class="catalog-main-list-item-nav">
            <h4 class="catalog-main-list-item__title">Оборудование</h4>

            <div class="catalog-main-list-item__links">
              <a href="#" class="catalog-main-list-item__link">Вспомогательное промышленное оборудование</a>
              <a href="#" class="catalog-main-list-item__link">Горное оборудование</a>
              <a href="#" class="catalog-main-list-item__link">Оборудование для обработки металла</a>
              <a href="#" class="catalog-main-list-item__link">Металлургическое оборудование</a>
              <a href="#" class="catalog-main-list-item__link">Прессы</a>
              <a href="#" class="catalog-main-list-item__link">Буровое оборудование</a>
              <a href="#" class="catalog-main-list-item__link">Лазеры</a>
            </div>

            <a href="#" class="catalog-main-list-item__link_main">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </a>
          </div>

          <div class="catalog-main-list-item-img">
            <img src="assets/images/catalog-1.jpg" alt="catalog" class="catalog-main-list-item-img__img">
          </div>
        </li>

        <li class="catalog-main-list-item">
          <div class="catalog-main-list-item-nav">
            <h4 class="catalog-main-list-item__title">Техника</h4>

            <div class="catalog-main-list-item__links">
              <a href="#" class="catalog-main-list-item__link">Бульдозеры</a>
              <a href="#" class="catalog-main-list-item__link">Буровые установки</a>
              <a href="#" class="catalog-main-list-item__link">Карьерная техника</a>
              <a href="#" class="catalog-main-list-item__link">Подъемная техника</a>
              <a href="#" class="catalog-main-list-item__link">Прицепы</a>
              <a href="#" class="catalog-main-list-item__link">Складская техника</a>
              <a href="#" class="catalog-main-list-item__link">Шахтная техника</a>
              <a href="#" class="catalog-main-list-item__link">Экскаваторы</a>
            </div>

            <a href="#" class="catalog-main-list-item__link_main">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </a>
          </div>

          <div class="catalog-main-list-item-img">
            <img src="assets/images/catalog-2.jpg" alt="catalog" class="catalog-main-list-item-img__img">
          </div>
        </li>

        <li class="catalog-main-list-item">
          <div class="catalog-main-list-item-nav">
            <h4 class="catalog-main-list-item__title">Запчасти</h4>

            <div class="catalog-main-list-item__links">
              <a href="#" class="catalog-main-list-item__link">Гусеницы резиновые</a>
              <a href="#" class="catalog-main-list-item__link">Двигатели внутреннего сгорания</a>
              <a href="#" class="catalog-main-list-item__link">Запчасти для оборудования</a>
              <a href="#" class="catalog-main-list-item__link">Комплектующие для буровой техники и оборудования</a>
              <a href="#" class="catalog-main-list-item__link">Комплектующие для спецтехники</a>
              <a href="#" class="catalog-main-list-item__link">Комплектующие для спецтехники</a>
            </div>

            <a href="#" class="catalog-main-list-item__link_main">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </a>
          </div>

          <div class="catalog-main-list-item-img">
            <img src="assets/images/catalog-3.jpg" alt="catalog" class="catalog-main-list-item-img__img">
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>