<section class="catalog-category catalog-sub">
  <div class="container">

    <div class="page-head">
      <div class="page-head-links">
        <a href="#" class="page-head-links__link">Главная </a>
        <a href="#" class="page-head-links__link">Каталог</a>
        <a href="#" class="page-head-links__link">Оборудование</a>
        <a href="#" class="page-head-links__link">Вспомогательное промышленное оборудование</a>
        <a href="#" class="page-head-links__link">Аппараты для дозированной заливки клея</a>
      </div>

      <h2 class="page-head__title">
        Аппараты для дозированной заливки клея
      </h2>
    </div>

    <div class="catalog-main-inner catalog-category-inner">

      <div class="catalog-nav">
        <button type="button" class="catalog-nav-btn">
          <svg>
            <use href="#filter-icon"></use>
          </svg>
          Фильтры
        </button>

        <div class="catalog-nav-inner">
          <div class="catalog-nav-dropdown catalog-nav-dropdown_main" data-open>
            <button type="button" class="catalog-nav-dropdown-btn">
              Оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="catalog-nav-dropdown-content">
              <div class="catalog-nav-dropdown" data-open>
                <button type="button" class="catalog-nav-dropdown-btn">
                  Вспомогательное промышленное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link _active">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Горное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Оборудование для обработки металла
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Металлургическое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Прессы
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Буровое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Лазеры
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
            <button type="button" class="catalog-nav-dropdown-btn">
              Техника
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="catalog-nav-dropdown-content">
              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Вспомогательное промышленное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Горное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Оборудование для обработки металла
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Металлургическое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Прессы
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Буровое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Лазеры
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
            <button type="button" class="catalog-nav-dropdown-btn">
              Запчасти
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="catalog-nav-dropdown-content">
              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Вспомогательное промышленное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Горное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Оборудование для обработки металла
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Металлургическое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Прессы
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Буровое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Лазеры
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
            <button type="button" class="catalog-nav-dropdown-btn">
              Материалы
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="catalog-nav-dropdown-content">
              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Вспомогательное промышленное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Горное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Оборудование для обработки металла
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Металлургическое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Прессы
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Буровое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Лазеры
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="catalog-category-list">
        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#time-icon"></use>
              </svg>
              Под заказ
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-1.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Дозатор для нанесения УФ клея с ЧУП LY-221
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#check-icon"></use>
              </svg>
              В наличии
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-7.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Клеевая станция ProBlue7
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#time-icon"></use>
              </svg>
              Под заказ
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-8.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Клеенаносящий станок (Клеемаз) LZ-240
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#check-icon"></use>
              </svg>
              В наличии
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-9.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Станок для клея-расплава 10L
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#time-icon"></use>
              </svg>
              Под заказ
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-10.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Станок для нанесения клеевого состава PS-DJ0815
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#time-icon"></use>
              </svg>
              Под заказ
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-11.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Станция для дозированной заливки клея
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#time-icon"></use>
              </svg>
              Под заказ
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-1.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Дозатор для нанесения УФ клея с ЧУП LY-221
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#check-icon"></use>
              </svg>
              В наличии
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-7.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Клеевая станция ProBlue7
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#time-icon"></use>
              </svg>
              Под заказ
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-8.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Клеенаносящий станок (Клеемаз) LZ-240
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item catalog-category-list-item_label">
          <div class="catalog-category-list-item-head">
            <span class="catalog-category-list-item-label">
              <svg>
                <use href="#check-icon"></use>
              </svg>
              В наличии
            </span>

            <button type="button" class="catalog-category-list-item-btn">
              <svg>
                <use href="#like-icon"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/type-9.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Станок для клея-расплава 10L
            </h5>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>