<section class="catalog-category">
  <div class="container">

    <div class="page-head">
      <div class="page-head-links">
        <a href="#" class="page-head-links__link">Главная </a>
        <a href="#" class="page-head-links__link">Каталог</a>
        <a href="#" class="page-head-links__link">Оборудование</a>
      </div>

      <h2 class="page-head__title">
        Оборудование
      </h2>
    </div>

    <div class="catalog-main-inner catalog-category-inner">

      <div class="catalog-nav">
        <button type="button" class="catalog-nav-btn">
          <svg>
            <use href="#filter-icon"></use>
          </svg>
          Фильтры
        </button>

        <div class="catalog-nav-inner">
          <div class="catalog-nav-dropdown catalog-nav-dropdown_main" data-open>
            <button type="button" class="catalog-nav-dropdown-btn">
              Оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="catalog-nav-dropdown-content">
              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Вспомогательное промышленное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Горное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Оборудование для обработки металла
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Металлургическое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Прессы
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Буровое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Лазеры
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
            <button type="button" class="catalog-nav-dropdown-btn">
              Техника
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="catalog-nav-dropdown-content">
              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Вспомогательное промышленное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Горное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Оборудование для обработки металла
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Металлургическое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Прессы
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Буровое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Лазеры
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
            <button type="button" class="catalog-nav-dropdown-btn">
              Запчасти
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="catalog-nav-dropdown-content">
              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Вспомогательное промышленное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Горное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Оборудование для обработки металла
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Металлургическое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Прессы
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Буровое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Лазеры
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
            <button type="button" class="catalog-nav-dropdown-btn">
              Материалы
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="catalog-nav-dropdown-content">
              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Вспомогательное промышленное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Горное оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Оборудование для обработки металла
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Металлургическое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Прессы
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Буровое оборудование
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                  <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
                  <a href="#" class="catalog-nav__link">Насосы</a>
                </div>
              </div>

              <div class="catalog-nav-dropdown">
                <button type="button" class="catalog-nav-dropdown-btn">
                  Лазеры
                  <svg>
                    <use href="#drop-arrow-icon"></use>
                  </svg>
                </button>
                <div class="catalog-nav-dropdown-content">
                  <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
                  <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
                  <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="catalog-category-list">
        <li class="catalog-category-list-item">
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/category-1.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Вспомогательное промышленное оборудование
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item">
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/category-2.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Горное оборудование
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item">
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/category-3.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Оборудование для обработки металла
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item">
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/category-4.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Металлургическое оборудование
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item">
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/category-5.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Прессы
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item">
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/category-6.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Буровое орудование
            </h5>
          </a>
        </li>

        <li class="catalog-category-list-item">
          <a href="#" class="catalog-category-list-item__link">
            <div class="catalog-category-list-item-img">
              <img src="assets/images/category-7.jpg" alt="category" class="catalog-category-list-item-img__img">
            </div>

            <h5 class="catalog-category-list-item__title">
              Лазеры
            </h5>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>