<div class="catalog-nav">
  <button type="button" class="catalog-nav-btn">
    <svg>
      <use href="#filter-icon"></use>
    </svg>
    Фильтры
  </button>

  <div class="catalog-nav-inner">
    <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
      <button type="button" class="catalog-nav-dropdown-btn">
        Оборудование
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </button>
      <div class="catalog-nav-dropdown-content">
        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Вспомогательное промышленное оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Горное оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Оборудование для обработки металла
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Металлургическое оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Прессы
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Буровое оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Лазеры
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
          </div>
        </div>
      </div>
    </div>

    <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
      <button type="button" class="catalog-nav-dropdown-btn">
        Техника
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </button>
      <div class="catalog-nav-dropdown-content">
        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Вспомогательное промышленное оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Горное оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Оборудование для обработки металла
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Металлургическое оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Прессы
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Буровое оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Лазеры
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
          </div>
        </div>
      </div>
    </div>

    <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
      <button type="button" class="catalog-nav-dropdown-btn">
        Запчасти
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </button>
      <div class="catalog-nav-dropdown-content">
        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Вспомогательное промышленное оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Горное оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Оборудование для обработки металла
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Металлургическое оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Прессы
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Буровое оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Лазеры
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
          </div>
        </div>
      </div>
    </div>

    <div class="catalog-nav-dropdown catalog-nav-dropdown_main">
      <button type="button" class="catalog-nav-dropdown-btn">
        Материалы
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </button>
      <div class="catalog-nav-dropdown-content">
        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Вспомогательное промышленное оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Горное оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Оборудование для обработки металла
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Металлургическое оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Прессы
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Буровое оборудование
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
            <a href="#" class="catalog-nav__link">Грузоподъемное оборудование</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Контрольно-измерительные приборы</a>
            <a href="#" class="catalog-nav__link">Насосы</a>
          </div>
        </div>

        <div class="catalog-nav-dropdown">
          <button type="button" class="catalog-nav-dropdown-btn">
            Лазеры
            <svg>
              <use href="#drop-arrow-icon"></use>
            </svg>
          </button>
          <div class="catalog-nav-dropdown-content">
            <a href="#" class="catalog-nav__link">Аппараты для дозированной заливки клея</a>
            <a href="#" class="catalog-nav__link">Воздушные компрессоры</a>
            <a href="#" class="catalog-nav__link">Высокоточные системы подачи химических реагентов</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>