<section class="contacts">
  <div class="container">
    <div class="page-head">
      <div class="page-head-links">
        <a href="#" class="page-head-links__link">Главная </a>
        <a href="#" class="page-head-links__link">Контакты</a>
      </div>

      <h2 class="page-head__title">
        Контакты
      </h2>
    </div>
  </div>

  <div class="contacts-container">

    <div class="container">
      <div class="contacts-info">
        <div class="contacts-inner">
          <ul class="contacts-list">
            <li class="contacts-list-item">
              <h4 class="contacts-list-item__title">Москва</h4>
            </li>
            <li class="contacts-list-item">
              <p class="contacts-list-item__subtitle">Адрес</p>
              <p class="contacts-list-item__text">г. Москва, ул. Гжатская, 5\3 - 113</p>
            </li>
            <li class="contacts-list-item">
              <p class="contacts-list-item__subtitle">Телефон</p>
              <a href="#" class="contacts-list-item__text">+7 983 222 3333</a>
            </li>
            <li class="contacts-list-item">
              <p class="contacts-list-item__subtitle">Электронная почта</p>
              <a href="#" class="contacts-list-item__text">email@email.com</a>
            </li>
          </ul>

          <ul class="contacts-list">
            <li class="contacts-list-item">
              <h4 class="contacts-list-item__title">ОАЭ</h4>
            </li>
            <li class="contacts-list-item">
              <p class="contacts-list-item__subtitle">Адрес</p>
              <p class="contacts-list-item__text">г. Москва, ул. Гжатская, 5\3 - 113</p>
            </li>
            <li class="contacts-list-item">
              <p class="contacts-list-item__subtitle">Телефон</p>
              <a href="#" class="contacts-list-item__text">+7 983 222 3333</a>
            </li>
            <li class="contacts-list-item">
              <p class="contacts-list-item__subtitle">Электронная почта</p>
              <a href="#" class="contacts-list-item__text">email@email.com</a>
            </li>
          </ul>
        </div>

        <button type="button" class="default-btn default-btn_dark contacts-btn" data-open-form>
          Связаться с нами
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="contacts-map">
      <iframe class="contacts-map__frame"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.5111740058856!2d37.43057351608765!3d55.714868202384295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54fabbe68643b%3A0xd18eb6fead1bab76!2z0JPQttCw0YLRgdC60LDRjyDRg9C7LiwgNSwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEyMTQ3MQ!5e0!3m2!1sru!2sby!4v1674475536915!5m2!1sru!2sby"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>
</section>