<div class="default-form-wrapper">
  <div class="default-form-info">
    <div class="container default-form-info-inner">
      <h3 class="default-form-info-title">
        Подберем необходимое оборудование для вашего предприятия
      </h3>

      <p class="default-form-info-text">
        orem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
        bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
        venenatis ante, et accumsan justo ex ut magna
      </p>

      <p class="default-form-info-text">
        orem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
        bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
        venenatis ante, et accumsan justo ex ut magna
      </p>
    </div>
  </div>

  <div class="default-form-container">
    <div class="container default-form-inner">
      <form action="#" class="default-form">
        <h4 class="default-form-title">Заполните заявку</h4>

        <input type="text" class="default-form__input" placeholder="Имя">
        <input type="tel" class="default-form__input" placeholder="Телефон">
        <input type="email" class="default-form__input" placeholder="Адрес электронной почты">

        <p class="default-form__info">Нажимая кнопку отправить, вы соглашаетесь на обработку персональных данных</p>

        <button type="submit" class="default-btn default-form__btn">
          Отправить
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>