<section class="favourites">
  <div class="container">

    <div class="page-head">
      <div class="page-head-links">
        <a href="#" class="page-head-links__link">Главная </a>
        <a href="#" class="page-head-links__link">Избранное </a>
      </div>

      <h2 class="page-head__title">
        Избранное
      </h2>
    </div>

    <div class="favourites-list">
      <li class="catalog-category-list-item catalog-category-list-item_label catalog-category-list-item_btn">
        <div class="catalog-category-list-item-head">
          <span class="catalog-category-list-item-label">
            <svg>
              <use href="#time-icon"></use>
            </svg>
            Под заказ
          </span>

          <button type="button" class="catalog-category-list-item-btn _active">
            <svg>
              <use href="#like-icon"></use>
            </svg>
          </button>
        </div>
        <a href="#" class="catalog-category-list-item__link">
          <div class="catalog-category-list-item-img">
            <img src="assets/images/type-1.jpg" alt="category" class="catalog-category-list-item-img__img">
          </div>

          <h5 class="catalog-category-list-item__title">
            Дозатор для нанесения УФ клея с ЧУП LY-221
          </h5>
        </a>
        <button type="button" class="default-btn default-btn_dark catalog-category-list-item__form-btn" data-open-form>
          Отправить заявку
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>
      </li>

      <li class="catalog-category-list-item catalog-category-list-item_label catalog-category-list-item_btn">
        <div class="catalog-category-list-item-head">
          <span class="catalog-category-list-item-label">
            <svg>
              <use href="#check-icon"></use>
            </svg>
            В наличии
          </span>

          <button type="button" class="catalog-category-list-item-btn _active">
            <svg>
              <use href="#like-icon"></use>
            </svg>
          </button>
        </div>
        <a href="#" class="catalog-category-list-item__link">
          <div class="catalog-category-list-item-img">
            <img src="assets/images/type-7.jpg" alt="category" class="catalog-category-list-item-img__img">
          </div>

          <h5 class="catalog-category-list-item__title">
            Клеевая станция ProBlue7
          </h5>
        </a>
        <button type="button" class="default-btn default-btn_dark catalog-category-list-item__form-btn" data-open-form>
          Отправить заявку
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>
      </li>

      <li class="catalog-category-list-item catalog-category-list-item_label catalog-category-list-item_btn">
        <div class="catalog-category-list-item-head">
          <span class="catalog-category-list-item-label">
            <svg>
              <use href="#time-icon"></use>
            </svg>
            Под заказ
          </span>

          <button type="button" class="catalog-category-list-item-btn _active">
            <svg>
              <use href="#like-icon"></use>
            </svg>
          </button>
        </div>
        <a href="#" class="catalog-category-list-item__link">
          <div class="catalog-category-list-item-img">
            <img src="assets/images/type-8.jpg" alt="category" class="catalog-category-list-item-img__img">
          </div>

          <h5 class="catalog-category-list-item__title">
            Клеенаносящий станок (Клеемаз) LZ-240
          </h5>
        </a>
        <button type="button" class="default-btn default-btn_dark catalog-category-list-item__form-btn" data-open-form>
          Отправить заявку
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>
      </li>

      <li class="catalog-category-list-item catalog-category-list-item_label catalog-category-list-item_btn">
        <div class="catalog-category-list-item-head">
          <span class="catalog-category-list-item-label">
            <svg>
              <use href="#check-icon"></use>
            </svg>
            В наличии
          </span>

          <button type="button" class="catalog-category-list-item-btn _active">
            <svg>
              <use href="#like-icon"></use>
            </svg>
          </button>
        </div>
        <a href="#" class="catalog-category-list-item__link">
          <div class="catalog-category-list-item-img">
            <img src="assets/images/type-9.jpg" alt="category" class="catalog-category-list-item-img__img">
          </div>

          <h5 class="catalog-category-list-item__title">
            Станок для клея-расплава 10L
          </h5>
        </a>
        <button type="button" class="default-btn default-btn_dark catalog-category-list-item__form-btn" data-open-form>
          Отправить заявку
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>
      </li>
    </div>

  </div>
</section>