<footer class="footer footer_grey">
  <div class="container footer-container">

    <div class="footer-box">
      <a href="#" class="footer-logo">
        <svg>
          <use href="#logo-icon"></use>
        </svg>
      </a>

      <div class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a href="#" class="footer-nav-list-item__link footer-nav-list-item__link_main">Главная</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#" class="footer-nav-list-item__link footer-nav-list-item__link_main">О компании</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#" class="footer-nav-list-item__link footer-nav-list-item__link_main">Вакансии</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#" class="footer-nav-list-item__link footer-nav-list-item__link_main">Контакты</a>
          </li>
        </ul>

        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a href="#" class="footer-nav-list-item__link footer-nav-list-item__link_main">Каталог</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#" class="footer-nav-list-item__link footer-nav-list-item__link">Оборудование</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#" class="footer-nav-list-item__link footer-nav-list-item__link">Техника</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#" class="footer-nav-list-item__link footer-nav-list-item__link">Запчасти</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-contacts">
      <div class="footer-contacts-item">
        <h6 class="footer-contacts__title">
          Адрес
        </h6>
        <p class="footer-contacts__text footer-contacts__icon">
          <svg>
            <use href="#pin-icon"></use>
          </svg>
          г. Москва, ул. Гжатская, 5\3 - 113
        </p>
      </div>

      <div class="footer-contacts-item">
        <h6 class="footer-contacts__title">
          Телефон
        </h6>
        <a href="tel:+79832223333" class="footer-contacts__text footer-contacts__icon">
          <svg>
            <use href="#phone-icon"></use>
          </svg>
          +7 983 222 3333
        </a>
      </div>

      <div class="footer-contacts-item">
        <h6 class="footer-contacts__title">
          Электронная почта
        </h6>
        <a href="mailto:email@email.com" class="footer-contacts__text footer-contacts__icon">
          <svg>
            <use href="#mail-icon"></use>
          </svg>
          email@email.com
        </a>
      </div>

      <div class="footer-contacts-item">
        <a href="https://bydesign.by/" target="_blank" class="footer-contacts__title">
          Разработка “Студия ЯР”
        </a>
      </div>
    </div>

  </div>
</footer>