<header class="header header_white">
  <div class="header-container">

    <a href="#" class="header-logo">
      <svg>
        <use href="#logo-icon"></use>
      </svg>
    </a>

    <div class="header-nav">
      <button class="header-menu-btn" type="button">
        <svg>
          <use href="#menu-btn-burger-icon_black"></use>
        </svg>
      </button>

      <div class="header-nav-inner">
        <div class="header-nav-links">
          <a href="tel:+79832223333" class="header-nav-links__link">
            +7 983 222 3333
          </a>

          <a href="mailto:info@minemachine.org" class="header-nav-links__link">
            info@minemachine.org
          </a>
        </div>

        <div class="header-nav-btns">
          <div class="header-nav-search">
            <div class="header-nav-search-input">
              <button type="button" class="header-nav-search-input__btn">
                <svg>
                  <use href="#search-icon"></use>
                </svg>
              </button>
              <input class="header-nav-search-input__input" type="text" placeholder="Поиск">
            </div>

            <button class="header-nav-search-btn header-nav-btns__btn">
              <svg>
                <use href="#search-icon"></use>
              </svg>
            </button>
          </div>

          <button class="header-nav-btns__btn header-nav-btns__btn_like">
            <svg>
              <use href="#like-icon"></use>
            </svg>
            <span class="header-nav-btns__label">3</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</header>