<section class="main">

  <div class="main-header-container">
    {{> _header }}
  </div>

  <div class="main-video-container">
    <div class="main-video-bg">
      <video class="main-video-bg__video" playsinline autoplay loop muted poster="assets/images/poster.jpg">
        <source src="assets/video/video.mp4" type="video/mp4">
      </video>
    </div>

    <div class="main-video-inner">
      <div class="container main-video-info">
        <h1 class="main-video__title">
          Сервис горнодобывающих предприятий
        </h1>

        <p class="main-video__text">
          orem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
          bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
          venenatis ante, et accumsan justo ex ut magna
        </p>

        <a href="#" class="default-btn main-video__link">
          Перейти в каталог
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  {{> _advantages }}

  <div class="container">
    <div class="main-catalog">
      <h3 class="main-catalog-title">
        Каталог
      </h3>

      <ul class="main-catalog-list">
        <li class="main-catalog-list-item">
          <div class="main-catalog-list-item-inner">
            <h3 class="main-catalog-list-item__title">Оборудование</h3>

            <div class="main-catalog-list-item__links">
              <a href="#" class="main-catalog-list-item__link">Вспомогательное промышленное оборудование</a>
              <a href="#" class="main-catalog-list-item__link">Горное оборудование</a>
              <a href="#" class="main-catalog-list-item__link">Оборудование для обработки металла</a>
              <a href="#" class="main-catalog-list-item__link">Металлургическое оборудование</a>
              <a href="#" class="main-catalog-list-item__link">Прессы</a>
              <a href="#" class="main-catalog-list-item__link">Буровое оборудование</a>
              <a href="#" class="main-catalog-list-item__link">Лазеры</a>
            </div>

            <a href="#" class="main-catalog-list-item__link_icon">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </a>
          </div>

          <div class="main-catalog-list-item-img">
            <img src="assets/images/catalog-1.jpg" alt="catalog" class="main-catalog-list-item-img__img">
          </div>
        </li>

        <li class="main-catalog-list-item">
          <div class="main-catalog-list-item-inner">
            <h3 class="main-catalog-list-item__title">Техника</h3>

            <div class="main-catalog-list-item__links">
              <a href="#" class="main-catalog-list-item__link">Бульдозеры</a>
              <a href="#" class="main-catalog-list-item__link">Буровые установки</a>
              <a href="#" class="main-catalog-list-item__link">Карьерная техника</a>
              <a href="#" class="main-catalog-list-item__link">Подъемная техника</a>
              <a href="#" class="main-catalog-list-item__link">Прицепы</a>
              <a href="#" class="main-catalog-list-item__link">Складская техника</a>
              <a href="#" class="main-catalog-list-item__link">Шахтная техника</a>
              <a href="#" class="main-catalog-list-item__link">Экскаваторы</a>
            </div>

            <a href="#" class="main-catalog-list-item__link_icon">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </a>
          </div>

          <div class="main-catalog-list-item-img">
            <img src="assets/images/catalog-2.jpg" alt="catalog" class="main-catalog-list-item-img__img">
          </div>
        </li>

        <li class="main-catalog-list-item">
          <div class="main-catalog-list-item-inner">
            <h3 class="main-catalog-list-item__title">Запчасти</h3>

            <div class="main-catalog-list-item__links">
              <a href="#" class="main-catalog-list-item__link">Гусеницы резиновые</a>
              <a href="#" class="main-catalog-list-item__link">Двигатели внутреннего сгорания</a>
              <a href="#" class="main-catalog-list-item__link">Запчасти для оборудования</a>
              <a href="#" class="main-catalog-list-item__link">Комплектующие для буровой техники и оборудования</a>
              <a href="#" class="main-catalog-list-item__link">Комплектующие для спецтехники</a>
              <a href="#" class="main-catalog-list-item__link">Топливная аппаратура</a>
            </div>

            <a href="#" class="main-catalog-list-item__link_icon">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </a>
          </div>

          <div class="main-catalog-list-item-img">
            <img src="assets/images/catalog-3.jpg" alt="catalog" class="main-catalog-list-item-img__img">
          </div>
        </li>
      </ul>
    </div>

    <div class="main-partners">
      <h3 class="main-partners-title">Партнеры</h3>

      <div class="main-partners-list-container">
        <ul class="main-partners-list">
          <li class="main-partners-list-item">
            <img src="assets/images/partner-aerzen.png" alt="aerzen" class="main-partners-list-item__img">
          </li>

          <li class="main-partners-list-item">
            <img src="assets/images/partner-ariacom.png" alt="aerzen" class="main-partners-list-item__img">
          </li>

          <li class="main-partners-list-item">
            <img src="assets/images/partner-aerocomp.png" alt="aerzen" class="main-partners-list-item__img">
          </li>

          <li class="main-partners-list-item">
            <img src="assets/images/partner-aerzen.png" alt="aerzen" class="main-partners-list-item__img">
          </li>

          <li class="main-partners-list-item">
            <img src="assets/images/partner-ariacom.png" alt="aerzen" class="main-partners-list-item__img">
          </li>

          <li class="main-partners-list-item">
            <img src="assets/images/partner-aerocomp.png" alt="aerzen" class="main-partners-list-item__img">
          </li>
        </ul>
      </div>

    </div>

    <div class="main-reviews">
      <h3 class="main-reviews-title">Отзывы</h3>

      <div class="main-reviews-list-container">
        <ul class="main-reviews-list">
          <li class="main-reviews-list-item">
            <a href="assets/images/reviews-1.jpg" class="main-reviews-list-item__link" data-fancybox>
              <img src="assets/images/reviews-1.jpg" alt="aerzen" class="main-reviews-list-item__img">
            </a>
          </li>

          <li class="main-reviews-list-item">
            <a href="assets/images/reviews-2.jpg" class="main-reviews-list-item__link" data-fancybox>
              <img src="assets/images/reviews-2.jpg" alt="aerzen" class="main-reviews-list-item__img">
            </a>
          </li>

          <li class="main-reviews-list-item">
            <a href="assets/images/reviews-1.jpg" class="main-reviews-list-item__link" data-fancybox>
              <img src="assets/images/reviews-1.jpg" alt="aerzen" class="main-reviews-list-item__img">
            </a>
          </li>

          <li class="main-reviews-list-item">
            <a href="assets/images/reviews-2.jpg" class="main-reviews-list-item__link" data-fancybox>
              <img src="assets/images/reviews-2.jpg" alt="aerzen" class="main-reviews-list-item__img">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!-- {{> _default-form }} -->

  <!-- <div class="main-contacts">
    <div class="container">
      <h3 class="main-contacts-title">Контакты</h3>
    </div>

    <div class="main-contacts-map">
      <iframe class="main-contacts-map__frame"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.5111740058856!2d37.43057351608765!3d55.714868202384295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54fabbe68643b%3A0xd18eb6fead1bab76!2z0JPQttCw0YLRgdC60LDRjyDRg9C7LiwgNSwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEyMTQ3MQ!5e0!3m2!1sru!2sby!4v1674116955080!5m2!1sru!2sby"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="main-contacts-info">
        <div class="main-contacts-info-btns">
          <button class="main-contacts-info-btns__btn _active"
            data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.5111740058856!2d37.43057351608765!3d55.714868202384295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54fabbe68643b%3A0xd18eb6fead1bab76!2z0JPQttCw0YLRgdC60LDRjyDRg9C7LiwgNSwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEyMTQ3MQ!5e0!3m2!1sru!2sby!4v1674116955080!5m2!1sru!2sby">Москва</button>
          <button class="main-contacts-info-btns__btn"
            data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28883.08863163467!2d55.26777586673055!3d25.190199407350896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f682829c85c07%3A0xa5eda9fb3c93b69d!2z0JTRg9Cx0LDQuSDQnNC-0LvQuw!5e0!3m2!1sru!2sby!4v1674122446125!5m2!1sru!2sby">ОАЭ</button>
        </div>

        <div class="swiper main-contacts-info-swiper">
          <div class="swiper-wrapper main-contacts-info-swiper-wrapper">
            <div class="swiper-slide main-contacts-info-swiper-slide">
              <div class="main-contacts-info-swiper-slide__item">
                <h5 class="main-contacts-info-swiper-slide__title">Адрес</h5>
                <p class="main-contacts-info-swiper-slide__text">г. Москва, ул. Гжатская, 5\3 - 113</p>
              </div>

              <div class="main-contacts-info-swiper-slide__item">
                <h5 class="main-contacts-info-swiper-slide__title">Телефон</h5>
                <a href="tel:+7 983 222 3333"
                  class="main-contacts-info-swiper-slide__text main-contacts-info-swiper-slide__link">
                  +7 983 222 3333
                </a>
              </div>

              <div class="main-contacts-info-swiper-slide__item">
                <h5 class="main-contacts-info-swiper-slide__title">Электронная почта</h5>
                <a href="mailto:email@email.com"
                  class="main-contacts-info-swiper-slide__text main-contacts-info-swiper-slide__link">
                  email@email.com
                </a>
              </div>
            </div>

            <div class="swiper-slide main-contacts-info-swiper-slide">
              <div class="main-contacts-info-swiper-slide__item">
                <h5 class="main-contacts-info-swiper-slide__title">Адрес</h5>
                <p class="main-contacts-info-swiper-slide__text">г. Москва, ул. Гжатская, 5\3 - 113</p>
              </div>

              <div class="main-contacts-info-swiper-slide__item">
                <h5 class="main-contacts-info-swiper-slide__title">Телефон</h5>
                <a href="tel:+7 983 222 3333"
                  class="main-contacts-info-swiper-slide__text main-contacts-info-swiper-slide__link">
                  +7 983 222 3333
                </a>
              </div>

              <div class="main-contacts-info-swiper-slide__item">
                <h5 class="main-contacts-info-swiper-slide__title">Электронная почта</h5>
                <a href="mailto:email@email.com"
                  class="main-contacts-info-swiper-slide__text main-contacts-info-swiper-slide__link">
                  email@email.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</section>