<section class="main">

  <div class="main-header-container">
    {{> _header }}
  </div>

  <div class="main-video-container">
    <div class="main-video-bg">
      <img src="assets/images/main.jpg" alt="video" class="main-video-bg__video">
    </div>

    <div class="main-video-inner">
      <div class="container main-video-info">
        <h1 class="main-video__title">
          Сервис горнодобывающих предприятий
        </h1>

        <p class="main-video__text">
          orem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
          bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
          venenatis ante, et accumsan justo ex ut magna
        </p>

        <a href="#" class="default-btn main-video__link">
          Перейти в каталог
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>