<nav class="menu">
  <div class="menu-bg"></div>

  <div class="menu-container">
    <div class="menu-head">
      <div class="menu-head-box">
        <button class="menu-btn">
          <svg>
            <use href="#menu-btn-close-icon"></use>
          </svg>
        </button>

        <div class="menu-logo">
          <svg>
            <use href="#logo-icon"></use>
          </svg>
        </div>
      </div>

      <div class="menu-head-info">
        <div class="menu-head-links">
          <a href="tel:+79832223333" class="menu-head__link">+7 983 222 3333</a>
          <a href="mailto:info@minemachine.org" class="menu-head__link">info@minemachine.org</a>
        </div>

        <button class="default-btn menu-head-btn" type="button">
          Отправить заявку
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="menu-nav">
      <div class="menu-nav-item">
        <button class="menu-nav__btn" type="button">
          Оборудование
          <svg>
            <use href="#drop-arrow-icon"></use>
          </svg>
        </button>

        <div class="menu-nav-item-content">
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Вспомогательное промышленное оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Горное оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Оборудование для обработки металла
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Металлургическое оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Прессы
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Буровое оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Лазеры
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
        </div>
      </div>

      <div class="menu-nav-item">
        <button class="menu-nav__btn" type="button">
          Техника
          <svg>
            <use href="#drop-arrow-icon"></use>
          </svg>
        </button>

        <div class="menu-nav-item-content">
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Вспомогательное промышленное оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Горное оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Оборудование для обработки металла
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Металлургическое оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Прессы
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Буровое оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Лазеры
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
        </div>
      </div>

      <div class="menu-nav-item">
        <button class="menu-nav__btn" type="button">
          Запчасти
          <svg>
            <use href="#drop-arrow-icon"></use>
          </svg>
        </button>

        <div class="menu-nav-item-content">
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Вспомогательное промышленное оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Горное оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Оборудование для обработки металла
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Металлургическое оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Прессы
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Буровое оборудование
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
          <div class="menu-nav-dropdown">
            <button type="button" class="menu-nav-dropdown-btn">
              Лазеры
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="menu-nav-dropdown-content">
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Аппараты для дозированной
                заливки клея</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Воздушные компрессоры</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Высокоточные системы подачи
                химических реагентов</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Грузоподъемное
                оборудование</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Контрольно-измерительные
                приборы</a>
              <a href="#" class="menu-nav-dropdown-content__item menu-nav-dropdown__link">Насосы</a>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="menu-nav__btn">О компании</a>

      <a href="#" class="menu-nav__btn">Новости</a>
      <a href="#" class="menu-nav__btn">Контакты</a>
    </div>
  </div>
</nav>