<div class="modal form-modal">
  <div class="modal-bg"></div>
  <div class="modal-container">
    <button type="button" class="modal-btn">
      <svg>
        <use href="#menu-btn-close-icon"></use>
      </svg>
    </button>

    <h3 class="modal-title">
      Оставить заявку
    </h3>

    <p class="modal-description">
      Заполните форму и наши специалисты свяжутся с вами.
    </p>

    <form class="modal-form">
      <input placeholder="Имя" type="text" class="modal-form__input">

      <input placeholder="Телефон" type="tel" class="modal-form__input">

      <input placeholder="Адрес электронной почты" type="email" class="modal-form__input">

      <span class="modal-form__info">Нажимая кнопку отправить, вы соглашаетесь на обработку персональных данных</span>

      <button type="button" class="default-btn modal-form__btn" data-open-submit>
        Отправить
        <svg>
          <use href="#btn-arrow-icon"></use>
        </svg>
      </button>
    </form>
  </div>
</div>