<section class="news">
  <div class="container">

    <div class="page-head">
      <div class="page-head-links">
        <a href="#" class="page-head-links__link">Главная </a>
        <a href="#" class="page-head-links__link">Новости </a>
      </div>

      <h2 class="page-head__title">
        Новости
      </h2>
    </div>

    <ul class="news-list">
      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/about.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/news-1.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/news-2.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/news-2.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/about.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/news-1.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/news-1.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/news-2.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="news-list-item">
        <a href="#" class="news-list-item__link">
          <div class="news-list-item-img">
            <img src="assets/images/about.jpg" alt="news" class="news-list-item-img__img">
          </div>
          <h5 class="news-list-item__title">Название новости</h5>
          <p class="news-list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibu
          </p>
          <div class="news-list-item-nav">
            <p class="news-list-item__date">11.11.2022</p>

            <svg class="news-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>

    <div class="news-pagination">
      <a href="#" class="news-pagination__link">Следующая страница</a>

      <ul class="news-pagination-list">
        <li class="news-pagination-list-item">
          <a href="#" class="news-pagination-list-item__link _active">1</a>
        </li>

        <li class="news-pagination-list-item">
          <a href="#" class="news-pagination-list-item__link">2</a>
        </li>

        <li class="news-pagination-list-item">
          <a href="#" class="news-pagination-list-item__link">3</a>
        </li>

        <li class="news-pagination-list-item">
          <a href="#" class="news-pagination-list-item__link">4</a>
        </li>

        <li class="news-pagination-list-item">
          <a href="#" class="news-pagination-list-item__link">...</a>
        </li>

        <li class="news-pagination-list-item">
          <a href="#" class="news-pagination-list-item__link">10</a>
        </li>
      </ul>
    </div>

  </div>
</section>