<section class="news">

  <div class="news-main-container">
    <div class="news-main-img">
      <img src="assets/images/about.jpg" alt="news" class="news-main-img__img">
    </div>

    <div class="news-main-inner">
      <div class="news-header">
        {{> _header }}
      </div>

      <div class="container">
        <div class="page-head page-head_white">
          <div class="page-head-links">
            <a href="#" class="page-head-links__link">Главная </a>
            <a href="#" class="page-head-links__link">Новости </a>
            <a href="#" class="page-head-links__link">Название новости </a>
          </div>

          <h2 class="page-head__title">
            Название новости
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="news-content">
      <div class="news-content-date">
        11.11.2022
      </div>

      <p class="news-content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
        bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
        venenatis ante, et accumsan justo ex ut magna
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
        bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
        venenatis ante, et accumsan justo ex ut magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        dapibus, risus non malesuada tempus, dolor orci bibendum metus, eget condimentum lorem magna vitae nisi. Cras
        pharetra, sapien in volutpat varius, nibh nunc venenatis ante, et accumsan justo ex ut magna
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
        bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
        venenatis ante, et accumsan justo ex ut magna
      </p>

      <a href="assets/images/news-3.jpg" class="news-content-img" data-fancybox>
        <img src="assets/images/news-3.jpg" alt="news" class="news-content-img__img">
      </a>

      <p class="news-content__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
        bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
        venenatis ante, et accumsan justo ex ut magna
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
        bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
        venenatis ante, et accumsan justo ex ut magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        dapibus, risus non malesuada tempus, dolor orci bibendum metus, eget condimentum lorem magna vitae nisi. Cras
        pharetra, sapien in volutpat varius, nibh nunc venenatis ante, et accumsan justo ex ut magn. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci bibendum metus,
        eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc venenatis ante, et
        accumsan justo ex ut magna
      </p>
    </div>
  </div>

</section>