<section class="product">
  <div class="container">

    <div class="page-head">
      <div class="page-head-links">
        <a href="#" class="page-head-links__link">Главная </a>
        <a href="#" class="page-head-links__link">Каталог</a>
        <a href="#" class="page-head-links__link">Оборудование</a>
        <a href="#" class="page-head-links__link">Вспомогательное промышленное оборудование</a>
        <a href="#" class="page-head-links__link">Аппараты для дозированной заливки клея</a>
        <a href="#" class="page-head-links__link">Дозатор для нанесения УФ клея с ЧУП LY-221</a>
      </div>
    </div>

    <div class="product-main">
      <div class="product-main-img">
        <img src="assets/images/type-7.jpg" alt="type" class="product-main-img__img">
      </div>

      <div class="product-main-container">
        <div class="product-main-info">
          <h3 class="product-main-info__title">Дозатор для нанесения УФ клея с ЧУП LY-221</h3>
          <p class="product-main-info__text">
            Краткое описание товара Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non
            malesuada
          </p>
          <a href="#" class="product-main-info__link">Подробнее</a>

          <div class="product-main-info-labels">
            <span class="product-main-info-labels__label" style="--color: #FFC32C">
              <svg>
                <use href="#time-icon"></use>
              </svg>
              Под заказ
            </span>
            <!-- <span class="product-main-info-labels__label" style="--color: #20D372">
              <svg>
                <use href="#check-icon"></use>
              </svg>
              В наличии
            </span> -->
            <span class="product-main-info-labels__label">
              <svg>
                <use href="#check-icon_star"></use>
              </svg>
              Гарантия на оборудование 1 год
            </span>
          </div>
        </div>

        <div class="product-main-btns">
          <button type="button" class="default-btn default-btn_dark product-main-btns__btn_form">
            Отправить заявку
            <svg>
              <use href="#btn-arrow-icon"></use>
            </svg>
          </button>

          <button type="button" class="product-main-btns__btn_like">
            <svg>
              <use href="#like-icon"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="product-description">
      <div class="product-specifications">
        <h4 class="product-description__title">Характеристики</h4>

        <p class="product-specifications__text">
          Описание товара Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada
          tempus, dolor orci bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat
          varius, nibh nunc venenatis ante, et accumsan justo ex ut magna
          <br><br>
          orem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus, risus non malesuada tempus, dolor orci
          bibendum metus, eget condimentum lorem magna vitae nisi. Cras pharetra, sapien in volutpat varius, nibh nunc
          venenatis ante, et accumsan justo ex ut magna
        </p>

        <ul class="product-specifications-list">
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Модель
            </p>
            <p class="product-specifications-list-item__text">
              LY-221
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Диапазон обработки
            </p>
            <p class="product-specifications-list-item__text">
              200 / 200 / 70 мм
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Максимальная нагрузка на оси
            </p>
            <p class="product-specifications-list-item__text">
              Y:8 кг / Z:4 кг
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Скорость движения
            </p>
            <p class="product-specifications-list-item__text">
              0,1-500 мм/сек
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Точность повторения
            </p>
            <p class="product-specifications-list-item__text">
              +/- 0,01 мм/ось
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Направляющая
            </p>
            <p class="product-specifications-list-item__text">
              Hiwin (японская)
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Входная мощность
            </p>
            <p class="product-specifications-list-item__text">
              полное напряжение AC110V - 220 - В, 300 Вт
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Температура рабочей среды
            </p>
            <p class="product-specifications-list-item__text">
              от 5 до 40 ℃
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Влажность рабочей среды
            </p>
            <p class="product-specifications-list-item__text">
              20-90%
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Габаритные размеры
            </p>
            <p class="product-specifications-list-item__text">
              380 х 420 х 485 мм
            </p>
          </li>
          <li class="product-specifications-list-item">
            <p class="product-specifications-list-item__text">
              Вес
            </p>
            <p class="product-specifications-list-item__text">
              45 кг
            </p>
          </li>
        </ul>
      </div>

      <div class="product-info">
        <h4 class="product-description__title">Оплата и доставка </h4>

        <ul class="product-info-list">
          <li class="product-info-list-item">
            <h5 class="product-info-list-item__title">1. Оформление заявки</h5>
            <p class="product-info-list-item__text">
              Заполните
              <button type="button" class="product-info-list-item__text product-info-list-item__btn"
                data-open-form>форму обратной связи</button>
              или позвоните по номеру
              <a href="tel:+79832223333" class="product-info-list-item__text product-info-list-item__link">+7 983 222
                3333</a>
              . Наши менеджеры дадут консультацию
              по выбранному товару и оформят заявку на покупку.
            </p>
          </li>

          <li class="product-info-list-item">
            <h5 class="product-info-list-item__title">2. Оплата заказа </h5>
            <div class="product-info-list-item-inner">
              <p class="product-info-list-item__text product-info-list-item__text_item">
                Вариант оплаты
              </p>
              <p class="product-info-list-item__text product-info-list-item__text_item">
                Вариант оплаты
              </p>
              <p class="product-info-list-item__text product-info-list-item__text_item">
                Вариант оплаты
              </p>
            </div>
          </li>

          <li class="product-info-list-item">
            <h5 class="product-info-list-item__title">3. Доставка товара</h5>
            <p class="product-info-list-item__text">
              Доставка осуществляется по будням с 8:00 до 17:00 часов. Готовность к отгрузке и сроки доставки зависят от
              времени размещения заказа и наличия товара на складе. Доставка 1-10 дней
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="swiper product-swiper">
      <div class="product-swiper-head">
        <h3 class="product-swiper__title">Другие товары из раздела</h3>
        <div class="reviews-btns">
          <button type="button" class="reviews-btns__btn reviews-btns__btn_prev">
            <svg>
              <use href="#btn-arrow-icon"></use>
            </svg>
          </button>

          <button type="button" class="reviews-btns__btn reviews-btns__btn_next">
            <svg>
              <use href="#btn-arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper-wrapper product-swiper-wrapper">
        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#time-icon"></use>
                </svg>
                Под заказ
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-1.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Дозатор для нанесения УФ клея с ЧУП LY-221
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                В наличии
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-7.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Клеевая станция ProBlue7
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#time-icon"></use>
                </svg>
                Под заказ
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-8.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Клеенаносящий станок (Клеемаз) LZ-240
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                В наличии
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-9.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Станок для клея-расплава 10L
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#time-icon"></use>
                </svg>
                Под заказ
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-1.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Дозатор для нанесения УФ клея с ЧУП LY-221
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                В наличии
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-7.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Клеевая станция ProBlue7
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#time-icon"></use>
                </svg>
                Под заказ
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-8.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Клеенаносящий станок (Клеемаз) LZ-240
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                В наличии
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-9.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Станок для клея-расплава 10L
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#time-icon"></use>
                </svg>
                Под заказ
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-1.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Дозатор для нанесения УФ клея с ЧУП LY-221
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                В наличии
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-7.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Клеевая станция ProBlue7
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#time-icon"></use>
                </svg>
                Под заказ
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-8.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Клеенаносящий станок (Клеемаз) LZ-240
              </h5>
            </a>
          </div>
        </div>

        <div class="swiper-slide product-swiper-slide">
          <div class="catalog-category-list-item catalog-category-list-item_label">
            <div class="catalog-category-list-item-head">
              <span class="catalog-category-list-item-label">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                В наличии
              </span>

              <button type="button" class="catalog-category-list-item-btn">
                <svg>
                  <use href="#like-icon"></use>
                </svg>
              </button>
            </div>
            <a href="#" class="catalog-category-list-item__link">
              <div class="catalog-category-list-item-img">
                <img src="assets/images/type-9.jpg" alt="category" class="catalog-category-list-item-img__img">
              </div>

              <h5 class="catalog-category-list-item__title">
                Станок для клея-расплава 10L
              </h5>
            </a>
          </div>
        </div>
      </div>

    </div>
</section>