<div class="reviews">
  <div class="container">

    <div class="reviews-head">
      <h3 class="reviews-title">Отзывы</h3>

      <div class="reviews-btns">
        <button type="button" class="reviews-btns__btn reviews-btns__btn_prev">
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>

        <button type="button" class="reviews-btns__btn reviews-btns__btn_next">
          <svg>
            <use href="#btn-arrow-icon"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="swiper reviews-list-container">
      <ul class="swiper-wrapper reviews-list">
        <li class="swiper-slide reviews-list-item">
          <a href="assets/images/reviews-1.jpg" class="reviews-list-item__link" data-fancybox>
            <img src="assets/images/reviews-1.jpg" alt="aerzen" class="reviews-list-item__img">
          </a>
        </li>

        <li class="swiper-slide reviews-list-item">
          <a href="assets/images/reviews-2.jpg" class="reviews-list-item__link" data-fancybox>
            <img src="assets/images/reviews-2.jpg" alt="aerzen" class="reviews-list-item__img">
          </a>
        </li>

        <li class="swiper-slide reviews-list-item">
          <a href="assets/images/reviews-1.jpg" class="reviews-list-item__link" data-fancybox>
            <img src="assets/images/reviews-1.jpg" alt="aerzen" class="reviews-list-item__img">
          </a>
        </li>

        <li class="swiper-slide reviews-list-item">
          <a href="assets/images/reviews-2.jpg" class="reviews-list-item__link" data-fancybox>
            <img src="assets/images/reviews-2.jpg" alt="aerzen" class="reviews-list-item__img">
          </a>
        </li>

        <li class="swiper-slide reviews-list-item">
          <a href="assets/images/reviews-1.jpg" class="reviews-list-item__link" data-fancybox>
            <img src="assets/images/reviews-1.jpg" alt="aerzen" class="reviews-list-item__img">
          </a>
        </li>

        <li class="swiper-slide reviews-list-item">
          <a href="assets/images/reviews-2.jpg" class="reviews-list-item__link" data-fancybox>
            <img src="assets/images/reviews-2.jpg" alt="aerzen" class="reviews-list-item__img">
          </a>
        </li>

        <li class="swiper-slide reviews-list-item">
          <a href="assets/images/reviews-1.jpg" class="reviews-list-item__link" data-fancybox>
            <img src="assets/images/reviews-1.jpg" alt="aerzen" class="reviews-list-item__img">
          </a>
        </li>

        <li class="swiper-slide reviews-list-item">
          <a href="assets/images/reviews-2.jpg" class="reviews-list-item__link" data-fancybox>
            <img src="assets/images/reviews-2.jpg" alt="aerzen" class="reviews-list-item__img">
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>